<?xml version="1.0" encoding="ascii"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes">
  <TotalTime>12</TotalTime>
  <Words>719</Words>
  <Application>Microsoft Macintosh PowerPoint</Application>
  <PresentationFormat>&#20840;&#23631;&#26174;&#31034;(16:9)</PresentationFormat>
  <Paragraphs>98</Paragraphs>
  <Slides>9</Slides>
  <Notes>9</Notes>
  <HiddenSlides>0</HiddenSlides>
  <MMClips>0</MMClips>
  <ScaleCrop>false</ScaleCrop>
  <HeadingPairs>
    <vt:vector size="6" baseType="variant">
      <vt:variant>
        <vt:lpstr>&#24050;&#29992;&#30340;&#23383;&#20307;</vt:lpstr>
      </vt:variant>
      <vt:variant>
        <vt:i4>4</vt:i4>
      </vt:variant>
      <vt:variant>
        <vt:lpstr>&#20027;&#39064;</vt:lpstr>
      </vt:variant>
      <vt:variant>
        <vt:i4>1</vt:i4>
      </vt:variant>
      <vt:variant>
        <vt:lpstr>&#24187;&#28783;&#29255;&#26631;&#39064;</vt:lpstr>
      </vt:variant>
      <vt:variant>
        <vt:i4>9</vt:i4>
      </vt:variant>
    </vt:vector>
  </HeadingPairs>
  <TitlesOfParts>
    <vt:vector size="14" baseType="lpstr">
      <vt:lpstr>Open Sans</vt:lpstr>
      <vt:lpstr>Neuton</vt:lpstr>
      <vt:lpstr>Arial</vt:lpstr>
      <vt:lpstr>Calibri</vt:lpstr>
      <vt:lpstr>Office Theme</vt:lpstr>
      <vt:lpstr>PowerPoint &#28436;&#31034;&#25991;&#31295;</vt:lpstr>
      <vt:lpstr>PowerPoint &#28436;&#31034;&#25991;&#31295;</vt:lpstr>
      <vt:lpstr>PowerPoint &#28436;&#31034;&#25991;&#31295;</vt:lpstr>
      <vt:lpstr>PowerPoint &#28436;&#31034;&#25991;&#31295;</vt:lpstr>
      <vt:lpstr>PowerPoint &#28436;&#31034;&#25991;&#31295;</vt:lpstr>
      <vt:lpstr>PowerPoint &#28436;&#31034;&#25991;&#31295;</vt:lpstr>
      <vt:lpstr>PowerPoint &#28436;&#31034;&#25991;&#31295;</vt:lpstr>
      <vt:lpstr>PowerPoint &#28436;&#31034;&#25991;&#31295;</vt:lpstr>
      <vt:lpstr>PowerPoint &#28436;&#31034;&#25991;&#31295;</vt:lpstr>
    </vt:vector>
  </TitlesOfParts>
  <LinksUpToDate>false</LinksUpToDate>
  <SharedDoc>false</SharedDoc>
  <HyperlinksChanged>false</HyperlinksChanged>
  <AppVersion>16.0000</AppVersion>
</Properties>
